* {
  margin: 0;
  padding: 0;

}
body {
  margin: 10px;
}

.block p img{
  float:right;
  margin: 0 0 15px 15px;
}

.block p{
  width: 600px;
  background-color: blue;
  color:white;
  margin: auto;
}
